/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define BT      1
#define NUM     2
#define MEDIA   3
#define NAV     4
#define MOUSE   5
#define FUN     6

#define AS(keycode) &as LS(keycode) keycode

&lt { quick_tap_ms = <140>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <140>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping_term_ms = <180>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_min {
            timeout-ms = <25>;
            key-positions = <3 4>;
            bindings = <&kp MINUS>;
        };
        
        combo_esc {
            timeout-ms = <25>;
            key-positions = <4 5>;
            bindings = <&kp ESC>;
        };
        
        combo_caps {
            timeout-ms = <25>;
            key-positions = <16 17>;
            bindings = <&caps_word>;
        }; 
        
        combo_lpar {
            timeout-ms = <25>;
            key-positions = <28 29>;
            bindings = <&kp LPAR>;
        };
       
        combo_eql {
            timeout-ms = <25>;
            key-positions = <7 8>;
            bindings = <&kp EQUAL>;
        };
        
        combo_semi {
            timeout-ms = <20>;
            key-positions = <18 19>;
            bindings = <&kp SEMI>;
        }; 
        
        combo_rpar {
            timeout-ms = <25>;
            key-positions = <30 31>;
            bindings = <&kp RPAR>;
        };
        
        combo_print {
            timeout-ms = <25>;
            key-positions = <0 11>;
            bindings = <&kp PSCRN>;
        };        
 
         combo_play {
            timeout-ms = <25>;
            key-positions = <0 24>;
            bindings = <&kp C_PP>;
        };
        
        combo_mute {
            timeout-ms = <25>;
            key-positions = <11 35>;
            bindings = <&kp C_MUTE>;
        };        
        
    };
};

/ {
  macros {
    ZMK_MACRO(u_m_1, wait-ms = <0>; bindings = <&kp KP_SLASH &kp KP_N5>;)
    ZMK_MACRO(u_m_2, wait-ms = <0>; bindings = <&kp KP_MINUS &kp KP_N5>;)
    ZMK_MACRO(u_m_3, wait-ms = <0>; bindings = <&kp KP_ASTERISK &kp KP_N5>;)
  };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                DEFAULT {
// -----------------------------------------------------------------------------------------
//                               |  MIN |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  | EQL  |
//                               | CAPSW|  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  ;   |
//                               |  (   |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |  )   |
//                                                  | TAB | BSP | DEL |   | ESC | SPC  | ENT |
                        bindings = <
   &kp ESC    &kp Q      &kp W      &kp F         &kp P        &kp B         &kp J      &kp L            &kp U       &kp Y       AS(SQT)    AS(EQUAL)
   &caps_word &hm LGUI A &hm LALT R &hm LCTRL S   &hm LSHIFT T &kp G         &kp M      &hm RSHIFT N     &hm RCTRL E &hm RALT I  &hm RGUI O AS(SEMI)
   &kp LPAR   &kp Z      &kp X      &kp C         &kp D        &kp V         &kp K      &kp H            AS(COMMA)   AS(DOT)     AS(FSLH)   &kp RPAR
                                    &lt MEDIA TAB &lt NUM BSPC &lt FUN DEL   &lt BT ESC &lt MOUSE SPACE  &lt NAV RET
                        >;
                };
                BT {
// -----------------------------------------------------------------------------------------
//                         |      |     |     |     |     |     |   |     |     |     |     |     | BTCR |
//                         | EPON |     |     |     |     |     |   |USBPR| BT4 | BT5 |     |     | EPON |
//                         | EPOFF|     |     |     |     |     |   |BT PR| BT1 | BT2 | BT3 |     | EPOFF|
//                                            |     |     |     |   |     |     |     |     |
                        bindings = <
   &trans            &trans     &trans     &trans     &trans     &trans         &trans        &trans        &trans       &trans       &trans &bt BT_CLR
   &ext_power EP_ON  &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans         &out OUT_USB  &bt BT_SEL 3  &bt BT_SEL 4 &trans       &trans &ext_power EP_ON
   &ext_power EP_OFF &trans     &trans     &trans     &trans     &trans         &out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &trans &ext_power EP_OFF
                                      	   &trans     &trans     &trans         &trans        &trans        &trans
                        >;
                };

                NUM {
// -----------------------------------------------------------------------------------------
//                        |      |     |     |     |     |     |   |  [  |  7  |  8  |  9  |  -  |  \   |
//                        |      | GUI | ALT | CTL | SFT |     |   |  ]  |  4  |  5  |  6  |  *  | GRV  |
//                        |      |     |     |     |     |     |   |  +  |  1  |  2  |  3  |  /  |      |
//                                           |     |     |     |   |  +  |  0  |  .  |     |
                        bindings = <
   &trans   &trans     &trans     &trans     &trans     &trans         AS(LBKT)   AS(N7)  AS(N8) AS(N9) &kp MINUS &kp BACKSLASH
   &trans   &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans         AS(RBKT)   AS(N4)  AS(N5) AS(N6) &kp STAR  AS(GRAVE)
   &trans   &trans     &trans     &trans     &trans     &trans         &kp PLUS   AS(N1)  AS(N2) AS(N3) &kp FSLH  &kp EQUAL
                          	      &trans     &trans     &trans         &kp PLUS   &kp N0  &kp DOT
                        >;
                };
                
                MEDIA {
// -----------------------------------------------------------------------------------------
//                        |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                        |      | GUI | ALT | CTL | SFT |     |   |     | VUP | BUP | PLY | NXT | RGB  |
//                        |      |     |     |     |     |     |   |     | VDN | BDN | PSE | PRV | BKL  |
//                                           |     |     |     |   |     |     | MUTE|     |
                        bindings = <
   &trans   &trans     &trans     &trans     &trans     &trans         &trans   &trans       &trans       &trans      &trans     &trans
   &trans   &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans         &trans   &kp C_VOL_UP &kp C_BRI_UP &kp C_PP    &kp C_NEXT &trans
   &trans   &trans     &trans     &trans     &trans     &trans         &trans   &kp C_VOL_DN &kp C_BRI_DN &kp C_PAUSE &kp C_PREV &trans
                          	      &trans     &trans     &trans         &trans   &kp C_MUTE   &trans
                        >;
                };
                
                NAV {
// -----------------------------------------------------------------------------------------
//                          |      |     | HOME|  UP | END | INS |   |     |     |     |     |     |      |
//                          |      |     | LEFT| DOWN|RIGHT| CAPS|   |     | SFT | CTL | ALT | GUI |      |
//                          |      |     | PGUP| PGDN|     |PSCRN|   |     |     |     |     |     |      |
//                                             |     |     |     |   |     |     |     |     |
                        bindings = <
   &trans   &trans     &kp HOME   &kp UP     &kp END    &kp INS        &trans   &trans     &trans     &trans     &trans     &trans
   &trans   &trans     &kp LEFT   &kp DOWN   &kp RIGHT  &kp CAPS       &trans   &kp RSHFT  &kp RCTRL  &kp RALT   &kp RGUI   &trans
   &trans   &trans     &kp PG_UP  &kp PG_DN  &trans     &kp PSCRN      &trans   &trans     &trans     &trans     &trans     &trans
                          	      &trans     &trans     &trans         &trans   &trans     &trans
                        >;
                };
                
                MOUSE {
// -----------------------------------------------------------------------------------------
//                        |      |     | MU  |     |     |     |   |     |     |     |     |     |      |
//                        |      | ML  | MD  | MR  |     |     |   |     | SFT | CTL | ALT | GUI |      |
//                        |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                                           | M2  | M1  | M3  |   |     |     |     |     |
                        bindings = <
   &kp KP_NUM &trans     &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans         &trans   &trans     &trans     &trans     &trans     &trans
   &trans     &trans     &kp KP_N4  &kp KP_N2  &kp KP_N6  &trans         &trans   &kp RSHFT  &kp RCTRL  &kp RALT   &kp RGUI   &trans
   &trans     &trans     &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans         &trans   &trans     &trans     &trans     &trans     &trans
                          	      &u_m_2     &u_m_1     &u_m_3         &trans   &trans     &trans
                        >;
                };
                
                FUN {
// -----------------------------------------------------------------------------------------
//                        |      |     |     |     |     |     |   |     |  F1 |  F2 |  F3 |  F4 |PRTSC|
//                        |      | GUI | ALT | CTL | SFT |     |   |     |  F5 |  F6 |  F7 |  F8 |     |
//                        |      |     |     |     |     |     |   |     |  F9 | F10 | F11 | F12 |     |
//                                           |     |     |     |   |     |     |     |     |
                        bindings = <
   &trans   &trans     &trans     &trans     &trans     &trans         &trans   &kp F1  &kp F2  &kp F3  &kp F4   &kp PSCRN
   &trans   &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans         &trans   &kp F5  &kp F6  &kp F7  &kp F8   &trans
   &trans   &trans     &trans     &trans     &trans     &trans         &trans   &kp F9  &kp F10 &kp F11 &kp F12  &trans
                          	      &trans     &trans     &trans         &trans   &trans  &trans
                        >;
                };
        };
};
